
<main>
<app-featured></app-featured>
    
  
    <div class="album py-5">
      <!-- Styling is hard coded into the html. Remove bootstrap styling for more options -->
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
            
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p31_i2_w1500.jpeg" class="card-img-top" alt="..."/>
  <!-- Candy -->
              <div class="card-body">
                <p class="card-text">She lost everything. The world turned against her. So when Kandace Bell had her back against the wall, she turns to the streets. Following in her father’s footsteps, Kandace brings new meaning to the term baddest in the game. There’s a new Queen in the streets, and the product she is moving is so sweet it could kill you.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p30_i1_w1801.jpeg" class="card-img-top" alt="..."/>
  <!-- Warlok -->
              <div class="card-body">
                <p class="card-text">In a world where magic and machines collide, the last surviving member of one of the greatest magical families to ever exist must lead a rebellion to free magic from a corrupt regime that extorts mana from the citizens of the region. Using powerful mechanical suits of armor known as warloks, Morgana Hex and the resistance group called Merlin's Armada must take back the capitol from those who would steal their magic.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p33_i1_w1801.jpeg" class="card-img-top" alt="..."/>
  <!-- Ascenscion -->
              <div class="card-body">
                <p class="card-text">In the land of Jabali, four sisters blessed with magic from the Gods must reclaim the kingdom that was taken from them by the Silver Horde. The half human, half machine army that plagues their homeland. As the sisters work to take back a land that has been stolen from them, they must tap into the magic of their sisterly bonds to overcome the new obstacles that await them! The magic resides within them, they just have to discover it.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p32_i1_w864.jpeg" class="card-img-top" alt="..."/>
  <!-- The Cards -->
              <div class="card-body">
                <p class="card-text">When the actions of police officers spark a national crisis, four individuals must find their place in the ever-changing scope of America. As a war brought on by the corruption and racism that plagues the nation, these four must decide where they will stand on one of the most important battles this country has ever seen.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p10_i1_w2100.jpeg" class="card-img-top" alt="..."/>
  <!-- Missing Piece -->
              <div class="card-body">
                <p class="card-text">The world is changing, and with those changes comes new needs for power and energy. So when a spiritual energy drive rips a doorway into another dimension allowing in demons while stealing the spiritual energy of humans, a new team called G.H.O.S.T. must assemble to fight back the forces of evil before the entire world is consumed by darkness</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p15_i1_w1404.jpeg" class="card-img-top" alt="..."/>
  <!-- Baron -->
              <div class="card-body">
                <p class="card-text">He murdered her family. He kidnapped her daughter. He left her for dead. Now Baron is back for vengeance and she doesn't care if the whole wasteland has to bleed before its done. She will get her daughter back and she will make the man responsible pay for all of the pain he has wrought. Baron will journey into the wasteland and fight for not only her survival but her future.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p4_i2_w1800.jpeg" class="card-img-top" alt="..."/>
  <!-- Thrill -->
              <div class="card-body">
                <p class="card-text">Marcus Hunt came home from school one day to find his mother murdered. He is told that he can be given the strength to find and kill those responsible. Marcus is then whisked away to a secret island base to be trained to be an assassin. But after uncovering a dark secret, the organization that trained him is now gunning for his head. Now Marcus has one last mission. Survive! </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p9_i1_w1362.jpeg" class="card-img-top" alt="..."/>
  <!-- ghost -->
              <div class="card-body">
                <p class="card-text">Marcus Hunt was on the brink of death after his battle against Kazuya Nakamura. Veronika Morales saved him but now tells him that in order to satisfy the debt he owes to her, he must fulfill his duty and take out the man who started The Order. Now Marcus is back on the hunt again and must take his skills to the next level if he wants to finally finish off the man who had his mother killed.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p34_i1_w1838.jpeg" class="card-img-top" alt="..."/>
  <!-- journee -->
              <div class="card-body">
                <p class="card-text">The tale of two siblings who find a dimensional shifter and are transported to another world. While lost, they discover things that they defy the imagination. But now they need to get back. Thrown into a planetary takeover by an alien tyrant, they must form new alliances with strange beings to not only get home, but to survive. Blast off into another world with Journee the Traveler</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>