:root{
    font-size: 16px;
}

main{
    background-image:url(../../assets/images/BookCollage.jpg);
}

section{
    background-color:blue;
}
.col{
    background-color: black;
}

.album{
    background-color:yellow;
}

.container{
    background-color: purple;
}
.btn-group{
    display:flex;
    margin: auto;
    border: 0;
    justify-content: center;
    align-items: center;
    
}

.col{
    height:44rem
}