
<main>
<app-featured></app-featured>
    
  
    <div class="album py-5 bg-dark">
      <!-- Styling is hard coded into the html. Remove bootstrap styling for more options -->
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
            
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm bg-dark text-white">
              <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary">Purchase</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>