
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/106012064_1983965935073725_7502914520762188073_n.jpg?_nc_cat=107&ccb=2&_nc_sid=e3f864&_nc_ohc=K3QM2nIGmGUAX_LO0P0&_nc_ht=scontent-iad3-1.xx&oh=c58ca43118858d8e4ea38dedb0a96287&oe=600AB3E7" alt="" width="30" height="24" class="d-inline-block align-top">
            The BookStore
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">BookStore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www.patreon.com/urfavoriteauthor" target="_blank">Patreon</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

