@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Syncopate&display=swap');


h1{
    color:white;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 2px 2px black;
}