

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to the Bookstore</h1>
        <div class="card mb-3 bg-dark text-white shadow-sm">
          <img src="https://urfavoriteauthor.square.site/uploads/1/2/9/9/129973999/s541477258908809715_p36_i1_w4000.jpeg?width=2560" class="card-img-top" alt="..."/>
          <div class="card-body">
            <h5 class="card-title">Xavier Reynolds: Blood Ties</h5>
            <p class="card-text">There have always been creatures that go bump in the night. But for his entire life, Xavier Reynolds had been hidden from that truth. Believing he was a normal teenager, Xavier had no idea that he actually hailed from a long line of monster hunters. The evils around him were oblivious to his existence, thanks to a technique used by his father before he died. But when Xavier turned eighteen, that protection faded and the things that lived in his nightmares suddenly became his reality.

              Now, Xavier must learn the ways of his ancestors in order to survive the coming war between the Dark-Hunters and the forces of evil. Under the guidance of his vampire protector Saeko, and with the help of some new monster-slaying friends, Xavier must tap into new abilities and master the skills his father never passed down to him, in order to ensure the darkness doesn't overwhelm the world.</p>
            <a href="#" class="btn btn-primary my-2">Purchase</a>
            <a href="#" class="btn btn-secondary my-2">Share</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        
      </div>
    </div>
  </section>